<div class="dailyNeeds">
  <div class="container text-center">
    <div class="text-center">
      <h2 class="dailyNeed-title dailyNeed-title-font"> {{"home.dailyNeeds.title" | translate}} </h2>
      <h2 class="dailyNeed-title blackTxt">{{"home.dailyNeeds.sub-title" | translate}}</h2>
    </div>
    <div class="titleIconDiv text-center">
      <div class="divSeparator"></div>
      <img class="titleIcon" src="assets/images/titleIcon.png" />
      <div class="divSeparator"></div>
    </div>

    <div class="dailyNeed-title">
      <a class="dailyNeed-link" [class]="{'active': filterdCat === 'all'}"
        (click)="filterdCat = 'all'; filterr('all')">{{"home.dailyNeeds.filter.all" | translate}}</a>
      <ng-container *ngFor="let item of menu?.restaurantsItemsListResponse.categoryType.categoriesInfo">
        <div class="divSeparator"></div>
        <a *ngIf="lang ==='en'" class="dailyNeed-link"
          [class]="{'active': filterdCat === (item.attributes | filter: '4') }"
          (click)="filterr(item)">{{item.attributes | filter: "4"}}</a>

        <a *ngIf="lang ==='ar'" class="dailyNeed-link"
          [class]="{'active': filterdCat === (item.attributes | filter: '9') }"
          (click)="filterr( item)">{{item.attributes | filter: "9"}}</a>
      </ng-container>

    </div>
    <div class="row">
      <div *ngFor="let item of filterdCatArr | slice: 0: max" class="col-lg-3   col-md-4 col-sm-6 dailyNeed-div-img">
        <img class="dailyNeed-img" src="http://foodpage.dnsalias.com//Items/Small/{{item.itemID}}.png" />
        <h4 *ngIf="lang ==='en'" class="dailyNeed-title"> {{item.attributes | filter: "1"}} </h4>
        <h4 *ngIf="lang ==='ar'" class="dailyNeed-title"> {{item.attributes | filter: "6"}} </h4>
        <p class="dailyNeed-price"> {{item.prices.priceNumber | currency: "EGP"}} </p>
      </div>
    </div>
    <button *ngIf="filterdCatArr.length > 7  && showLoadMore  " class="btn btn-success btn-more"
      (click)="loadMore()">{{"home.dailyNeeds.seeMore" | translate}}</button>

  </div>
</div>