<div class="dailyNeeds">
  <div class="container text-center">
    <div class="text-center">
      <h2 class="dailyNeed-title dailyNeed-title-font">Our Daily</h2>
      <h2 class="dailyNeed-title blackTxt">Needs</h2>
    </div>
    <div class="titleIconDiv text-center">
      <div class="divSeparator"></div>
      <img class="titleIcon" src="assets/images/titleIcon.png" />
      <div class="divSeparator"></div>
    </div>

    <div class="dailyNeed-title">
      <a class="dailyNeed-link active">All</a>
      <div class="divSeparator"></div>
      <a class="dailyNeed-link">Cold</a>
      <div class="divSeparator"></div>
      <a class="dailyNeed-link">Detox</a>
      <div class="divSeparator"></div>
      <a class="dailyNeed-link">Fruit</a>
      <div class="divSeparator"></div>
      <a class="dailyNeed-link">Milk</a>
      <div class="divSeparator"></div>
      <a class="dailyNeed-link">Soka</a>
    </div>
      <div class="row ">
        <div class="col-lg-3 col-xs-2 dailyNeed-div-img">
          <img class="dailyNeed-img" src="assets/dynamicImg/need1.png" />
          <h4 class="dailyNeed-title">Carrot</h4>
          <p class="dailyNeed-price">20.00 EGP</p>
        </div>
        <div class="col-lg-3 col-xs-2 dailyNeed-div-img">
          <img class="dailyNeed-img" src="assets/dynamicImg/need2.png" />
          <h4 class="dailyNeed-title">Milk plant</h4>
          <p class="dailyNeed-price">20.00 EGP</p>
        </div>
        <div class="col-lg-3 col-xs-2 dailyNeed-div-img">
          <img class="dailyNeed-img" src="assets/dynamicImg/need3.png" />
          <h4 class="dailyNeed-title">Detox drink</h4>
          <p class="dailyNeed-price">20.00 EGP</p>
        </div>
        <div class="col-lg-3 col-xs-2 dailyNeed-div-img">
          <img class="dailyNeed-img" src="assets/dynamicImg/need4.png" />
          <h4 class="dailyNeed-title">Fresh cuts</h4>
          <p class="dailyNeed-price">20.00 EGP</p>
        </div>
        <div class="col-lg-3 col-xs-2 dailyNeed-div-img">
          <img class="dailyNeed-img" src="assets/dynamicImg/need2.png" />
          <h4 class="dailyNeed-title">Milk plant</h4>
          <p class="dailyNeed-price">20.00 EGP</p>
        </div>
        <div class="col-lg-3 col-xs-2 dailyNeed-div-img">
          <img class="dailyNeed-img" src="assets/dynamicImg/need1.png" />
          <h4 class="dailyNeed-title">Carrot</h4>
          <p class="dailyNeed-price">20.00 EGP</p>
        </div>
        <div class="col-lg-3 col-xs-2 dailyNeed-div-img">
          <img class="dailyNeed-img" src="assets/dynamicImg/need5.png" />
          <h4 class="dailyNeed-title">Soak herb</h4>
          <p class="dailyNeed-price">20.00 EGP</p>
        </div>
        <div class="col-lg-3 col-xs-2 dailyNeed-div-img">
          <img class="dailyNeed-img" src="assets/dynamicImg/need4.png" />
          <h4 class="dailyNeed-title">Fresh cuts</h4>
          <p class="dailyNeed-price">20.00 EGP</p>
        </div>
      </div>
      <button class="btn btn-success btn-more">See more</button>

  </div>
</div>