<footer>
		<div class="row">
			<div class="col-lg-3 offset-lg-1">Daily needs</div>
			<div class="col-lg-6">
				<div class="row">
					<div class="col-lg-4">
						<h4>Useful links</h4>
						<div class="divSeparatorFooter"></div>
						<p><a routerLink="/{{lang}}/about">About us</a></p>
						<p><a routerLink="/{{lang}}/contact-us">Contact us</a></p>
						<p><a routerLink="/{{lang}}/privacy">Payment policy</a></p>
					</div>
					<div class="col-lg-4">
							<h4>Social media</h4>
							<div class="divSeparatorFooter"></div>
							<p><a>About us</a></p>
							<p><a>Contact us</a></p>
							<p><a>Payment policy</a></p>
					</div>
					<div class="col-lg-4">
							<h4>Subscribe</h4>
							<div class="divSeparatorFooter"></div>
							<p><a>About us</a></p>
							<p><a>Contact us</a></p>
							<p><a>Payment policy</a></p>
					</div>
				</div>
			</div>
			
		</div>
		<div class="row copyRight" > 
			<div class="col-lg-3 offset-lg-1 footerTxt">
				All Rights Reseved  Daily needs.com
			</div>
			
	    </div>
	</footer>