<footer>
		<div class="row">
			<div class="col-lg-1"></div>
			<div class="col-lg-3">
				<div class="row">
					<img class="logoFooter" src="assets/images/logo.png">
				</div>
				<div class="divSeparatorFooter"></div>
				<div>
					<h5 class="logoTXT">Address:</h5>
					<p>Fifth Settlement,newcairo,egypt </p>
				</div>
				<div>
					<h5 class="logoTXT">Tel:</h5>
					<p class="logoTXT"></p>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="row">
					<div class="col-lg-3">
						<h4>Useful links</h4>
						<div class="divSeparatorFooter"></div>
						<p><a routerLink="/{{lang}}/about">About us</a></p>
						<p><a routerLink="/{{lang}}/contact-us">Contact us</a></p>
						<p><a routerLink="/{{lang}}/privacy">Payment policy</a></p>
					</div>
					<div class="col-lg-3">
							<h4>Social media</h4>
							<div class="divSeparatorFooter"></div>
							<br/>
							<div class="row">
								<div class="col-lg-4 p-0">
										<img  src="assets/images/facebookFooter.png"/>
								</div>
								<div class="col-lg-4 p-0">
									<img  src="assets/images/twitterFooter.png"/>
								</div>
								<div class="col-lg-4 p-0">
									<img  src="assets/images/linkedinFooter.png"/>
								</div>
							</div>
							
					</div>
					<div class="col-lg-6">
							<h4>Subscribe</h4>
							<div class="divSeparatorFooter"></div>
							<p>Enter your email address for our mailing listto keep yourself updated</p>
							<div class="row rowItem">
									<div class="input-group mb-3">
											<input type="text" class="form-control" placeholder="Enter Your Email" aria-label="Enter Your Email" aria-describedby="basic-addon2">
											<div class="input-group-append">
												<button class="btn btn-success proceed" type="button">Submit</button>
											</div>
										</div>
							</div>
					</div>
				</div>
			</div>
			
		</div>
		<div class="row copyRight" > 
			<div class="col-lg-3 offset-lg-1 footerTxt">
				All Rights Reseved  Daily needs.com
			</div>
			
	    </div>
	</footer>