<div *ngFor="let order of Orders" class="card">
  <table class="table table-responsive">
    <tbody class="row">
      <tr class="row pt-2 pb-2">
        <td class="orderTimes pl-2 pr-2">
          <p class="mb-0"><i class="pr-2 pl-2 fa"
              [ngClass]="{'fa-arrow-left':language == 'ar',  'fa-arrow-right':language == 'en' }">
            </i>
            {{'order.OrderedOn' | translate}}: <span> {{order.orderDate}} </span></p>
          <p class="mb-0"><i class="fas fa-truck pr-2 pl-2"></i>{{'order.DeliveredOn' | translate}}:
            <span>{{order.orderStatus.orderStatusDate}}</span></p>
        </td>
      </tr>
      <tr class="row pt-2 pb-2">
        <hr>
        <td class="orderAddress pl-2 pr-2">
          <p class="mb-0 orderCount">2items</p>
          <p class="mb-0">This order will be delivered to 6th of October, 3rd Disc., 2nd Neigh., 72…</p>
        </td>
      </tr>
    </tbody>
  </table>
</div>