<div class="header">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#"><img class="logo" src="assets/images/logo.png"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto navbar-header">
          <li class="nav-item" [ngClass]="{'active':pageName === 'home'}">
            <a class="nav-link" routerLink="/{{lang}}">Home</a>
          </li>
          <li class="nav-item" [ngClass]="{'active':pageName === 'category'}">
            <a class="nav-link" routerLink="/{{lang}}/category">Category</a>
          </li>
          <li class="nav-item" [ngClass]="{'active':pageName === 'programs'}">
            <a class="nav-link" routerLink="/{{lang}}/programs">Programs</a>
          </li>
          <li class="nav-item" [ngClass]="{'active':pageName === 'health'}">
            <a class="nav-link" routerLink="/{{lang}}/health">Health information</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a routerLink="/{{lang}}/search"><i class="fas fa-search"></i></a></li>
            <li class="nav-item dropdown" *ngIf="isLogged">
              <a class="nav-link dropdown-toggle dropdown-list" href="#" id="navbarDropdown" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-shopping-cart"></i>
              </a>
              <div class="dropdown-menu userCart" aria-labelledby="navbarDropdown">
                <h6 class="ml-3 mr-3 yourCart">Your cart</h6>
                <div class="row cartMenuItem">
                  <div class="col-lg-4">
                    <img class="cartIcon" src="assets/dynamicImg/item3.png" />
                  </div>
                  <div class="col-lg-5">
                      <h6 class="unitTitle">Carrot</h6>
                      <span class="unitPrice">1*20 EGP</span>
                  </div>
                  <div class="col-lg-2"><i class="fa fa-trash"></i></div>
                </div>
                <div class="dropdown-divider"></div>
                <div class="row cartMenuItem">
                  <div class="col-lg-4">
                    <img class="cartIcon" src="assets/dynamicImg/item3.png" />
                  </div>
                  <div class="col-lg-5">
                      <h6 class="unitTitle">Carrot</h6>
                      <span class="unitPrice">1*20 EGP</span>
                  </div>
                  <div class="col-lg-2"><i class="fa fa-trash"></i></div>
                </div>
                <div class="dropdown-divider"></div>
                <div class="row cartMenuItem">
                  <div class="col-lg-4">
                    <img class="cartIcon" src="assets/dynamicImg/item3.png" />
                  </div>
                  <div class="col-lg-5">
                    <h6 class="unitTitle">Carrot</h6>
                    <span class="unitPrice">1*20 EGP</span>
                  </div>
                  <div class="col-lg-2"><i class="fa fa-trash"></i></div>
                </div>
                <div class="dropdown-divider"></div>

                <div class="row">
                  <div class="row rowItem pb-2">
                    <div class="col-lg-4 itemTitle">Pricing</div>
                    <div class="col-lg-8 itemCost">218.00 EGP</div>
                  </div>
                  <div class="row rowItem pb-2">
                    <div class="col-lg-4 itemTitle">Vat</div>
                    <div class="col-lg-8 itemCost">18.00 EGP</div>
                  </div>
                  <div class="row rowItem pb-2">
                    <div class="col-lg-4 itemTitle">shipping</div>
                    <div class="col-lg-8 itemCost">20.00 EGP</div>
                  </div>
                </div>
                <div class="dropdown-divider"></div>
                <div class="text-center">
                  <a routerLink="/{{lang}}/category/cart" class="btn btn-success proceed ml-2 mr-2">view cart</a>
                  <a routerLink="/{{lang}}/category/cart/checkout" class="btn btn-warning addAddressBtn ml-2 mr-2">Check out</a>
                </div>
              </div>
            </li>
            <li class="nav-item dropdown" *ngIf="isLogged">
              <a class="nav-link dropdown-toggle dropdown-list" href="#" id="navbarDropdown" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="far fa-user"></i>
              </a>
              <div class="dropdown-menu userAccount" aria-labelledby="navbarDropdown">
                <a class="dropdown-item myaccountLink" routerLink="/{{lang}}/myaccount"><i
                    class="fas fa-user userIcon p-2"></i>My account</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item myorderLink" routerLink="/{{lang}}/myaccount/my-orders"><i
                    class="fas fa-shopping-bag bagIcon p-2"></i>My orders</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item favouritLink" routerLink="/{{lang}}/myaccount/favourits"><i
                    class="fas fa-heart text-danger p-2"></i>Favourits</a>
              </div>
            </li>
            <li class="nav-item dropdown" *ngIf="!isLogged">
              <a class="nav-link dropdown-toggle dropdown-list" href="#" id="navbarDropdown" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="far fa-user"></i>
              </a>
              <div class="dropdown-menu text-center" aria-labelledby="navbarDropdown">
                <div class="row">
                  <div class="col-md-4">
                    {{ 'home.header.guest.login' | translate }}
                  </div>
                  <div class="col-md-4">
                    <button class="btn btn-sucess facebook"></button>
                  </div>
                  <div class="col-md-4 user-twitter">
                    <button class="btn btn-sucess twitter"></button>
                  </div>
                </div>
                <hr>
                <p class="loginTxt" *ngIf="lang == 'ar' ">
                  <span>يجب <a (click)="showModal('signin')" class="signIn">تسجيل الدخول</a> اولاً, </span>
                  <span>إذا كنت لا تمتلك حساب يمكنك التسجيل من هنا </span>
                  <a (click)="showModal('signup')" class="signUp">إنشاء حساب</a>
                </p>
                <p class="loginTxt" *ngIf="lang == 'en' ">
                  <span>You have to <a (click)="showModal('signin')" class="signIn">Sign in</a> first, </span>
                  <span>if you don't have account you can </span>
                  <a (click)="showModal('signup')" class="signUp">Sign up</a>
                </p>
                <!-- <a class="dropdown-item" href="#">Action333</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a> -->
              </div>
            </li>
            <li class="nav-item">
              <a href="/{{ switchLang }}">
                <i class="fas fa-globe"></i>
              </a>
            </li>
          </ul>
        </form>
      </div>
    </div>
  </nav>
</div>

<!-- <swiper [config]="config" *ngIf="pageName == 'home'">
  <div *ngFor="let slide of slides" class="slider text-center">
      <img class="swiperImg" src="{{slide}}" />
      <button class="btn btn-success discoverBtn">{{ 'home.slider.discoverBtn' | translate }}</button>
  </div>
</swiper>


<div class="slider-details text-center" *ngIf="pageName != 'home'">
    <div class="container">
      <p class="sliderTxt">Program details</p>
    </div>
  </div> -->