<div class="header">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#"><img class="logo" src="assets/images/logo.png"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto navbar-header">
          <li class="nav-item">
            <a class="nav-link" routerLink="/home" routerLinkActive="active"> {{'home.header.home' | translate}} </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/category"
              routerLinkActive="active">{{'home.header.category' | translate}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/programs"
              routerLinkActive="active">{{'home.header.programs' | translate}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/health" routerLinkActive="active">{{'home.header.health' | translate}}</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a routerLink="/search"><i class="fas fa-search"></i></a></li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle dropdown-list cart-icon" href="#" id="navbarDropdown" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span> {{cartService.cartItemsNum}} </span>
                <i class="fas fa-shopping-cart"></i>
              </a>
              <div class="dropdown-menu userCart" aria-labelledby="navbarDropdown">
                <h6 class="ml-3 mr-3 yourCart">{{'home.header.cart' | translate}}</h6>
                <ng-container *ngFor="let item of cartService.cartItems | slice: 0: 3">
                  <div class="row cartMenuItem">
                    <div class="col-lg-4">
                      <img class="cartIcon" src="{{environment.imgUrl}}/Items/Small/{{item?.itemID}}.png"
                        (error)="updateImage($event)">
                    </div>
                    <div class="col-lg-5">
                      <h6 class="unitTitle" *ngIf="lang ==='en'">
                        {{item?.attributes | filter: "1"}} </h6>
                      <h6 class="unitTitle" *ngIf="lang ==='ar'">
                        {{item?.attributes | filter: "6"}} </h6>
                      <h6 class="unitTitle" *ngIf="!item.attributes"> {{item.itemName}} </h6>

                      <span class="unitPrice" *ngIf="item?.prices.priceNumber">
                        {{item.cartItemsNum}} * {{item?.prices.priceNumber | currency: " EGP "}}
                      </span>
                    </div>
                    <div class="col-lg-2"><i (click)="cartService.removeFromCart(item.itemID, item.selectedTime)"
                        class="fa fa-trash"></i>
                    </div>
                  </div>
                  <div class="dropdown-divider"></div>
                </ng-container>

                <div class="row">
                  <div class="row rowItem pb-2">
                    <div class="col-lg-4 itemTitle">{{'home.header.Pricing' | translate}}</div>
                    <div class="col-lg-8 itemCost"> {{cartService.totalPrice | currency: " EGP "}} </div>
                  </div>
                  <div class="row rowItem pb-2">
                    <div class="col-lg-4 itemTitle">{{'home.header.vat' | translate}}</div>
                    <div class="col-lg-8 itemCost">{{cartService.vat | currency: " EGP "}}</div>
                  </div>
                  <div class="row rowItem pb-2">
                    <div class="col-lg-4 itemTitle">{{'home.header.shipping' | translate}}</div>
                    <div class="col-lg-8 itemCost">{{cartService.shipping | currency: " EGP "}}</div>
                  </div>
                </div>
                <div class="dropdown-divider"></div>
                <div class="text-center">
                  <a routerLink="/cart" class="btn btn-success proceed ml-2 mr-2">{{'home.header.cart' | translate}}</a>
                  <a routerLink="/cart/checkout"
                    class="btn btn-warning addAddressBtn ml-2 mr-2">{{'home.header.checkout' | translate}}</a>
                </div>
              </div>
            </li>
            <li class="nav-item dropdown" *ngIf="authService.isLoggedIn">
              <a class="nav-link dropdown-toggle dropdown-list" href="#" id="navbarDropdown" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="far fa-user"></i>
              </a>
              <div class="dropdown-menu userAccount" aria-labelledby="navbarDropdown">
                <a class="dropdown-item myaccountLink" routerLink="/myaccount"><i
                    class="fas fa-user userIcon p-2"></i>{{'home.header.logged.account' | translate}}</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item myorderLink" routerLink="/myaccount/my-orders"><i
                    class="fas fa-shopping-bag bagIcon p-2"></i>{{'home.header.logged.oreders' | translate}}</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item favouritLink" routerLink="/myaccount/favourits"><i
                    class="fas fa-heart text-danger p-2"></i>{{'home.header.logged.favourite' | translate}}</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item favouritLink" (click)="authService.signout()"><i
                    class="fas fa-sign-out-alt text-dark p-2"></i>{{'home.header.logged.logout' | translate}}</a>
              </div>
            </li>
            <li class="nav-item dropdown" *ngIf="!authService.isLoggedIn" ngbDropdown>
              <a class="nav-link dropdown-toggle dropdown-list" ngbDropdownToggle id="navbarDropdown">
                <i class="far fa-user"></i>
              </a>
              <div class="dropdown-menu text-center" ngbDropdownMenu aria-labelledby="navbarDropdown">
                <div class="row">
                  <div class="col-md-4 col-6">
                    {{ 'home.header.guest.login' | translate }}
                  </div>
                  <div class="col-md-4 col-6">
                    <button class="btn btn-sucess facebook"></button>
                  </div>
                  <div class="col-md-4 user-twitter">
                    <button class="btn btn-sucess twitter"></button>
                  </div>
                </div>
                <hr>
                <p class="loginTxt" *ngIf="lang == 'ar' ">
                  <span>يجب <a (click)="showModal('signIn')" class="signIn">تسجيل الدخول</a> اولاً, </span>
                  <span>إذا كنت لا تمتلك حساب يمكنك التسجيل من هنا </span>
                  <a (click)="showModal('signup')" class="signUp">إنشاء حساب</a>
                </p>
                <p class="loginTxt" *ngIf="lang == 'en' ">
                  <span>You have to <a (click)="showModal('signIn')" class="signIn">Sign in</a> first, </span>
                  <span>if you don't have account you can </span>
                  <a (click)="showModal('signup')" class="signUp">Sign up</a>
                </p>
                <ng-container *ngIf="showSignIn">
                  <app-modal-signin></app-modal-signin>
                </ng-container>
                <!-- <a class="dropdown-item" href="#">Action333</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a> -->
              </div>
            </li>

            <li class="nav-item">
              <a (click)="changeLang()">
                <i class="fas fa-globe"></i>
              </a>
            </li>
          </ul>
        </form>
      </div>
    </div>
  </nav>
</div>