<div class="slider-details text-center">
	<img class="smallImgSlider"
		[src]="targetProgramms?.prices?environment.imgUrl+'/Items/Large/'+targetProgramms?.itemID+'.png': environment.imgUrl+'/Program/Small/'+targetProgramms?.categoryID+'.png'"
		(error)="updateImage($event)" />
	<!-- <p class="sliderTxt"> {{'programs.pDetails' | translate}} </p> -->
</div>
<mc-breadcrumbs></mc-breadcrumbs>
<div class="itemDetailsDiv">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<img class="itemDetails"
					[src]="targetProgramms?.prices?environment.imgUrl+'/Items/Large/'+targetProgramms?.itemID+'.png': environment.imgUrl+'/Program/Large/'+targetProgramms?.categoryID+'.png'"
					(error)="updateImage($event)">
			</div>
			<div class="col-lg-6" *ngIf="!isItemLoaded">
				<ngx-skeleton-loader appearance="line" count="4" animation="pulse"
					[theme]="{ 'border-radius': '0', 'background-color': '#cecece', height: '30px' }">
				</ngx-skeleton-loader>
			</div>
			<div class="col-lg-6" *ngIf="isItemLoaded">
				<ng-container *ngIf="targetProgramms?.prices">
					<h4 class="item-details-title" *ngIf="lang ==='en'">
						{{targetProgramms?.attributes | filter: "1"}} </h4>
					<h4 class="item-details-title" *ngIf="lang ==='ar'">
						{{targetProgramms?.attributes | filter: "6"}} </h4>
				</ng-container>
				<ng-container *ngIf="!targetProgramms?.prices">
					<h4 class="item-details-title" *ngIf="lang ==='en'">
						{{targetProgramms?.attributes | filter: "4"}} </h4>
					<h4 class="item-details-title" *ngIf="lang ==='ar'">
						{{targetProgramms?.attributes | filter: "9"}} </h4>
				</ng-container>
				<p class="item-price"><span class="dailyNeed-price">{{price | currency: "EGP "}}</span></p>
				<div class="item-price" *ngIf="!targetProgramms?.prices?.length">
					<ng-container
						*ngIf="targetProgramms?.prices?.discountValue && targetProgramms?.prices?.discountValue != 0;else noDiscount">
						<div class="">
							<del>
								{{(targetProgramms?.prices?.priceNumber - targetProgramms?.prices?.discountValue) | currency: " EGP "}}
							</del>
							<span class="dailyNeed-price">
								{{targetProgramms?.prices?.priceNumber | currency: " EGP "}}
							</span>
						</div>

					</ng-container>
					<ng-template #noDiscount>
						<div class="newPrice">
							<div *ngIf="targetProgramms?.prices">
								<span class="dailyNeed-price">
									{{targetProgramms?.prices?.priceNumber | currency: " EGP "}}
								</span>
							</div>
						</div>
					</ng-template>
				</div>
				<div class="item-price" *ngIf="targetProgramms?.prices?.length > 0">
					<h6> {{'programs.selectPlan' | translate}} </h6>
					<ng-container *ngFor="let p of targetProgramms.prices">
						<div class="">
							<!-- <del>
								{{(targetProgramms?.prices?.priceNumber - targetProgramms?.prices?.discountValue) | currency: " EGP "}}
							</del> -->
							<div class="custom-control custom-radio custom-control-inline">
								<input type="radio" id="p{{p.priceNumber}}" [(ngModel)]="price" [value]="p.priceNumber"
									name="itemprice" class="custom-control-input">
								<label class="custom-control-label" for="p{{p.priceNumber}}">
									{{p.categoryName}}
								</label>
							</div>
						</div>
					</ng-container>
				</div>
				<div>
					<div class="desc">
						<p *ngIf="targetProgramms?.prices">
							<ng-container *ngIf="lang == 'en'"> {{targetProgramms?.attributes | filter: "22"}}
							</ng-container>
							<ng-container *ngIf="lang == 'ar'"> {{targetProgramms?.attributes | filter: "23"}}
							</ng-container>
						</p>
					</div>
					<!-- <p *ngIf="!targetProgramms?.prices">
						<ng-container *ngIf="lang == 'en'"> {{targetProgramms?.attributes | filter: "22"}} </ng-container>
						<ng-container *ngIf="lang == 'ar'"> {{targetProgramms?.attributes | filter: "23"}} </ng-container>
					</p> -->
					<!-- <h5>Daily course</h5>
					<ul>
						<li>Carrot Juice</li>
						<li>Orange Juice</li>
						<li>Rocca Juice</li>
						<li>Tomato Juice</li>
						<li>Kiwi Juice</li>
						<li>Rocca Juice</li>
					</ul> -->
				</div>
				<notifier-container></notifier-container>

				<div class="cart">
					<div class="row">
						<div class="col-lg-4 col-7 cart-items">
							<div class="input-group">

								<button type="button" (click)="cartItems = cartItems > 1 ?  cartItems - 1 : 1"
									class="btn btn-default btn-number btn-number-minus" data-type="minus"
									data-field="quant[1]">
									<i class="fa fa-minus"></i>
								</button>
								<input type="text" class="form-control input-number text-center" value="1"
									[(ngModel)]="cartItems" max="100">
								<button type="button" (click)="cartItems = cartItems + 1"
									class="btn btn-default btn-number btn-number-plus" data-type="plus"
									data-field="quant[1]">
									<i class="fa fa-plus"></i>
								</button>
							</div>
						</div>
						<div class=" col-md-4 col-5 cart-items">
							<button (click)="addToCart(cartItems)" class="btn btn-success addCart">
								{{'generalMsg.cart.addToCart' | translate}} </button>
						</div>
						<div class="col-lg-4 col-xs-12 wishlist">
							<a (click)="addToFavourite()">
								<i class="fa-heart" [ngClass]="{'fas':isFavourite, 'far': !isFavourite}"></i>
								<span>{{'generalMsg.favourite.wish' | translate}}</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- <div class="row text-center items-div">
			<div class="col-lg-2">
				<img src="assets/dynamicImg/item1.png">
			</div>
			<div class="col-lg-2">
				<img src="assets/dynamicImg/item2.png">
			</div>
			<div class="col-lg-2">
				<img src="assets/dynamicImg/item3.png">
			</div>
			<div class="col-lg-2">
				<img src="assets/dynamicImg/item4.png">
			</div>
			<div class="col-lg-2">
				<img src="assets/dynamicImg/item2.png">
			</div>
			<div class="col-lg-2">
				<img src="assets/dynamicImg/item3.png">
			</div>
		</div> -->
		<div class="tabDiv">
			<ul class="nav nav-tabs" id="myTab" role="tablist">
				<li class="nav-item">
					<a class="nav-link active" id="Items-tab" data-toggle="tab" href="#Items" role="tab"
						aria-controls="Reviews" aria-selected="false">{{'favourite.items' | translate}}</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="Description-tab" data-toggle="tab" href="#Description" role="tab"
						aria-controls="Description" aria-selected="true"> {{'programs.dexc' | translate}} </a>
				</li>

			</ul>

			<div class="tab-content">
				<div class="tab-pane active" id="Items" role="tabpanel" aria-labelledby="Items-tab">
					<div class="row mt-5">
						<div *ngFor="let item of relatedItems" class="col-md-6">
							<div class="itemcomp my-3 d-flex align-items-center">
								<img width="130" [src]="environment.imgUrl+'/Items/Small/'+item?.itemID+'.png'"
									(error)="updateImage($event)">
								<h5 class="item-details-title" *ngIf="lang ==='en'">
									{{item?.attributes | filter: "1"}} </h5>
								<h5 class="item-details-title" *ngIf="lang ==='ar'">
									{{item?.attributes | filter: "6"}} </h5>
								<h5 *ngIf="!item.attributes"> {{item.itemName}} </h5>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane" id="Description" role="tabpanel" aria-labelledby="Description-tab">

					<p *ngIf="targetProgramms?.prices" class="mt-3" #con>
						<ng-container *ngIf="lang == 'en'"> {{targetProgramms?.attributes | filter: "116": con}}
						</ng-container>
						<ng-container *ngIf="lang == 'ar'"> {{targetProgramms?.attributes | filter: "117": con}}
						</ng-container>
					</p>

				</div>

			</div>
		</div>
	</div>
</div>


<!-- <app-related-products [relatedProg]="relatedItems" [lang]="lang">
</app-related-products> -->