<div class="modal-header">
  <h4 class="modal-title">{{"home.header.login.login" | translate}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div *ngIf="err" class="alert alert-danger" role="alert">
    {{errMsg}}
  </div>
  <form [formGroup]="loginForm" autocomplete="off" (ngSubmit)="login(loginForm.value)">
    <label for="email"> {{"home.header.login.email" | translate}} </label>
    <div class="form-group">
      <input type="email" class="form-control" id="email" formControlName="email">
      <div class="form-text text-danger" *ngIf='loginForm.get("email").invalid && loginForm.get("email").touched'>
        <small *ngIf='loginForm.get("email").errors.required'>
          {{"home.header.validation.required" | translate}}
        </small>
        <small *ngIf='loginForm.get("email").errors.email'>
          {{"home.header.validation.email" | translate}}
        </small>
      </div>
    </div>
    <label for="password"> {{"home.header.login.password" | translate}} </label>
    <div class="form-group">
      <input type="password" class="form-control" id="password" formControlName="password">
      <div class="form-text text-danger" *ngIf='loginForm.get("password").invalid && loginForm.get("password").touched'>
        <small *ngIf='loginForm.get("password").errors.required'>
          {{"home.header.validation.required" | translate}}
        </small>
      </div>
    </div>
    <button [disabled]="loginForm.invalid" type="submit" class="btn btn-primary signupBtn">
      {{"home.header.login.login" | translate}} </button>
  </form>
</div>