<div class="slider-details text-center">
  <div class="container">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text" id="btnGroupAddon"><i class="fa fa-search"></i></div>
      </div>
      <input type="text" [(ngModel)]="search" (keyup)="getDataSearch()" class="form-control searchBox"
        placeholder="{{'search.placeholder' | translate}}">
    </div>
  </div>
</div>

<div class="searchPage">
  <div *ngIf="search?.length" class="container">
    <div class="searchTitle text-center">
      <p> {{searchResult?.length}} {{'search.result' | translate}} <strong><q>{{search}}</q></strong></p>
    </div>
    <div class="row ">
      <div *ngFor="let item of searchResult" class="col-lg-3 col-sm-6 dailyNeed-div-img">
        <img class="dailyNeed-img" src="{{environment.imgUrl}}/Items/Small/{{item.itemID}}.png"
          (error)="updateImage($event)" />
        <h4 *ngIf="language ==='en'" class="dailyNeed-title"> {{item.attributes | filter: "1"}} </h4>
        <h4 *ngIf="language ==='ar'" class="dailyNeed-title"> {{item.attributes | filter: "6"}} </h4>
        <p class="dailyNeed-price"> {{item.prices.priceNumber | currency: " EGP "}} </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 healthContainer">
        <div class="row healthItem" *ngFor="let item of filteredhealthInfo">
          <div class="col-lg-3 col-sm-6 healthImgDiv pr-0 pl-0" routerLink="/health/{{item.id}}">
            <img class="healthImg" [src]="item.img_url" (error)="updateImage($event)" />
          </div>
          <div class="col-lg-8 healthTxtDiv">
            <div class="row infoLabel">
              <span><i class="far fa-calendar-alt"></i> {{item.date}} </span>
              <span><i class="far fa-comments"></i> {{item.comments}} </span>
            </div>
            <h5 class="wrapTxt title" routerLink="/health/{{item.id}}">
              <ng-container *ngIf="language === 'en'"> {{item.title}} </ng-container>
              <ng-container *ngIf="language === 'ar'"> {{item.titleAr}} </ng-container>
            </h5>
            <div class="wrapTxt">
              <ng-container *ngIf="language === 'en'"> {{item.description}} </ng-container>
              <ng-container *ngIf="language === 'ar'"> {{item.descAr}} </ng-container>
            </div>
            <div class="mt-3 mb-3">
              <div class="divSeparatorFooter"></div>
              <a routerLink="/health/{{item.id}}"> {{"health.more" | translate}} </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>