<div class="slider-details text-center">
  <img class="smallImgSlider" src="assets/dynamicImg/privacy.png" />
  <p class="sliderTxt"> {{'payment.title' | translate}} </p>
</div>
<mc-breadcrumbs></mc-breadcrumbs>
<div class="privacy">
  <h4> {{'payment.ppolicy' | translate}} </h4>
  <p>
    {{'payment.p1' | translate}}
  </p>
  <p>
    {{'payment.p2' | translate}}
  </p>
  <p>
    {{'payment.p3' | translate}}
  </p>
  <p>
    {{'payment.p4' | translate}}
  </p>
  <p>
    {{'payment.p5' | translate}}
    <span class="active">
      (868) 528-3733
    </span>
  </p>
  <p>
    {{'payment.p6' | translate}}
  </p>
</div>