<app-header [lang]="lang" [isLogged]="isLogged" [pageName]="pageName"></app-header>

<div class="slider-details text-center">
  <img class="smallImgSlider" src="assets/dynamicImg/privacy.png" />
  <p class="sliderTxt">Payment privacy</p>
</div>
<mc-breadcrumbs></mc-breadcrumbs>
<div class="privacy">
  <h4>Payment and Returns Policy</h4>
  <pre>
    Lorem Ipsum: Usage, Common examples, Translation, Variants and technical information
    Essay: Lorem Ipsum--when, and when not to use it
    Plugins:
    Content management systems (CMS): Joomla, Wordpress, Magento, Google Docs, Drupal
    Editors: Notepad++, Sublime Text, Office suites
  </pre>
</div>

<app-footer [lang]="lang"></app-footer>