<div class="relatedProduct">
  <div class="container">
    <h2 class="relatedProduct-title"> {{'programs.related' | translate}} </h2>
    <!--
    <swiper [config]="config">
      <div *ngFor="let slide of slides" class="dailyNeed-div-img">
        <img class="dailyNeed-img"  [src]="environment.imgUrl+'/Items/Small/'+slide.itemID+'.png'" alt="slide image" (error)="updateImage($event)" />
      <h4 *ngIf="lang ==='en'" class="dailyNeed-title"> {{slide.attributes | filter: "1"}} </h4>
      <h4 *ngIf="lang ==='ar'" class="dailyNeed-title"> {{slide.attributes | filter: "6"}} </h4>
        <p class="dailyNeed-price">{{slide.prices?.priceNumber | currency: "EGP"}}</p>
      </div>
    </swiper>
  -->
    <owl-carousel [options]="CarouselOptions" [items]="slides" [carouselClasses]="['owl-theme', 'sliding']" >  
      <div *ngFor="let slide of slides" class="dailyNeed-div-img">
        <img class="dailyNeed-img"  [src]="environment.imgUrl+'/Items/Small/'+slide.itemID+'.png'" alt="slide image" (error)="updateImage($event)" />
        <h4 *ngIf="lang ==='en'" class="dailyNeed-title"> {{slide.attributes | filter: "1"}} </h4>
        <h4 *ngIf="lang ==='ar'" class="dailyNeed-title"> {{slide.attributes | filter: "6"}} </h4>
        <p class="dailyNeed-price">{{slide.prices?.priceNumber | currency: "EGP"}}</p>
      </div>
    </owl-carousel>
  </div>
</div>