<div class="relatedProduct">
  <div class="container">
    <h2 class="relatedProduct-title"> {{'programs.related' | translate}} </h2>
    <!--
    <swiper [config]="config">
      <div *ngFor="let slide of slides" class="dailyNeed-div-img">
        <img class="dailyNeed-img"  [src]="environment.imgUrl+'/Items/Small/'+slide.itemID+'.png'" alt="slide image" (error)="updateImage($event)" />
      <h4 *ngIf="lang ==='en'" class="dailyNeed-title"> {{slide.attributes | filter: "1"}} </h4>
      <h4 *ngIf="lang ==='ar'" class="dailyNeed-title"> {{slide.attributes | filter: "6"}} </h4>
        <p class="dailyNeed-price">{{slide.prices?.priceNumber | currency: " EGP "}}</p>
      </div>
    </swiper>
  -->
    <ngx-skeleton-loader *ngIf="!isItemLoaded" appearance="circle" count="2" animation="pulse"
      [theme]="{ 'border-radius': '0', 'background-color': '#cecece', height: '150px', width: '23%' }">
    </ngx-skeleton-loader>
    <owl-carousel-o [options]="CarouselOptions">
      <ng-container *ngFor="let slide of slides">
        <ng-template carouselSlide [id]="slide.itemID">
          <div class="dailyNeed-div-img">
            <img class="dailyNeed-img" [src]="environment.imgUrl+'/Items/Small/'+slide.itemID+'.png'" alt="slide image"
              (error)="updateImage($event)" />
            <h4 *ngIf="lang ==='en'" class="dailyNeed-title"> {{slide.attributes | filter: "1"}} </h4>
            <h4 *ngIf="lang ==='ar'" class="dailyNeed-title"> {{slide.attributes | filter: "6"}} </h4>
            <p class="dailyNeed-price">{{slide.prices?.priceNumber | currency: " EGP "}}</p>
          </div>
        </ng-template>
      </ng-container>

    </owl-carousel-o>
  </div>
</div>