<div class="slider-details text-center">
  <img class="smallImgSlider" src="assets/dynamicImg/healthInfoCover.png" />
  <p class="sliderTxt">Health Information</p>
</div>

<mc-breadcrumbs></mc-breadcrumbs>
<div class="healthPage">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mt-4">
        <div class="row pr-0 pl-0">
          <img class="itemImg" src="{{targetHealthInfo.img_url}}" />
        </div>
        <div class="row infoLabel mt-2">
          <div class="col-lg-6">

            <!-- <span> <i class="far fa-calendar-alt "></i>4 December 2019</span>
                
                <span> <i class="far fa-comments"></i> 13</span> -->
          </div>
          <div class="col-lg-6 share-like">
            <i class="fa fa-share-alt"></i>
            <i class="far fa-heart"></i>
          </div>
        </div>
        <div class="row">
          <h4 class="mt-4 mb-3"> {{targetHealthInfo.title}} </h4>
          <div>
            {{targetHealthInfo.description}}
          </div>
        </div>
      </div>
      <div class="col-lg-4 healthPopular">
        <div class="row mt-4">
          <input type="text" class="form-control" placeholder="Search for products" />
        </div>
        <div class="row">
          <app-popular-post></app-popular-post>
        </div>
        <div class="row mt-5">
          <h5>Search by tags</h5>
          <div>
            <button class="btn btn-light mt-3 search">bread</button>
            <button class="btn btn-light mt-3 search">fruits</button>
            <button class="btn btn-light mt-3 search">food</button>
            <button class="btn btn-light mt-3 search">green</button>
            <button class="btn btn-light mt-3 search">healthy</button>
            <button class="btn btn-light mt-3 search">natural</button>
            <button class="btn btn-light mt-3 search">organic store</button>
            <button class="btn btn-light mt-3 search">vegetables</button>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>