<div class="offers">
	<div class="container">
		<div class="row">
			<div class="col-md-6 py-4">
				<h2 class="greenTitle dailyNeed-title-font"> {{"home.offers.todayOffers" | translate}} </h2>
				<div class="offerContainer">
					<h3>{{"home.offers.program" | translate}} </h3>
					<p>{{"home.offers.desc" | translate}} </p>
					<table class="text-center time-table">
						<tr class="time-number">
							<td>14</td>
							<td>:</td>
							<td>8</td>
							<td>:</td>
							<td>12</td>
							<td>:</td>
							<td>4</td>
						</tr>
						<tr class="time-text">
							<td>{{"home.offers.Counter.days" | translate}}</td>
							<td></td>
							<td>{{"home.offers.Counter.h" | translate}}</td>
							<td></td>
							<td>{{"home.offers.Counter.m" | translate}}</td>
							<td></td>
							<td>{{"home.offers.Counter.s" | translate}}</td>
						</tr>
					</table>

				</div>
				<button class="btn btn-warning btn-orderNow">{{"home.offers.Oreder" | translate}}</button>
			</div>
			<div class="col-md-6 py-4">
				<img class="offerBg" src="assets/dynamicImg/offerImg.png">
			</div>

		</div>
	</div>
</div>