<div class="offers">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<h2 class="greenTitle dailyNeed-title-font">Today offers</h2>
					<div class="offerContainer">
						<h3>Detox program </h3>
						<p>Experiment with detox drinks today and notice how light, fresh and clear-headed you feel afterwards. </p>
						<table class="text-center time-table">
							<tr class="time-number">
								<td>14</td>
								<td>:</td>
								<td>8</td>
								<td>:</td>
								<td>12</td>
								<td>:</td>
								<td>4</td>
							</tr>
							<tr class="time-text">
								<td>Days</td>
								<td></td>
								<td>Hours</td>
								<td></td>
								<td>Min.</td>
								<td></td>
								<td>Sec.</td>
							</tr>
						</table>
						
          </div>
          <button class="btn btn-warning btn-orderNow">Order Now</button>
				</div>
				<div class="col-lg-6">
					<img  class="offerBg" src="assets/dynamicImg/offerImg.png">
				</div>
				
			</div>
    	</div>
	</div>