<div class="slider-details text-center">
  <img class="smallImgSlider" src="assets/dynamicImg/category.png" />
  <p class="sliderTxt">Category</p>
</div>
<mc-breadcrumbs></mc-breadcrumbs>
<div class="relatedProduct">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-xs-3 category-div-img" routerLink="/{{lang}}/category/items/1">
        <img class="category-img" src="assets/dynamicImg/need1.jpg" />
        <h4 class="category-title">Carrot</h4>
      </div>
      <div class="col-lg-2 col-xs-3 category-div-img" routerLink="/{{lang}}/category/items/1">
        <img class="category-img" src="assets/dynamicImg/need2.png" />
        <h4 class="category-title">Milk plant</h4>
      </div>
      <div class="col-lg-2 col-xs-3 category-div-img" routerLink="/{{lang}}/category/items/1">
        <img class="category-img" src="assets/dynamicImg/need3.png" />
        <h4 class="category-title">Detox drink</h4>
      </div>
      <div class="col-lg-2 col-xs-3 category-div-img" routerLink="/{{lang}}/category/items/1">
        <img class="category-img" src="assets/dynamicImg/need4.png" />
        <h4 class="category-title">Fresh cuts</h4>
      </div>
      <div class="col-lg-2 col-xs-3 category-div-img" routerLink="/{{lang}}/category/items/1">
        <img class="category-img" src="assets/dynamicImg/need1.png" />
        <h4 class="category-title">Fresh cuts</h4>
      </div>
      <div class="col-lg-2 col-xs-3 category-div-img" routerLink="/{{lang}}/category/items/1">
        <img class="category-img" src="assets/dynamicImg/need2.png" />
        <h4 class="category-title">Fresh cuts</h4>
      </div>
      <div class="col-lg-2 col-xs-3 category-div-img" routerLink="/{{lang}}/category/items/1">
        <img class="category-img" src="assets/dynamicImg/need3.png" />
        <h4 class="category-title">Fresh cuts</h4>
      </div>
    </div>
  </div>
</div>