<div class="slider-details text-center">
  <img class="smallImgSlider" src="assets/dynamicImg/category.png" />
  <p class="sliderTxt"> {{'home.header.category' | translate}} </p>
</div>
<mc-breadcrumbs></mc-breadcrumbs>
<div class="relatedProduct">
  <div class="container">
    <div class="row">
      <div *ngFor="let item of menu?.restaurantsItemsListResponse?.categoryType?.categoriesInfo"
        class=" col-md-3 col-sm-6 category-div-img" routerLink="/category/items/{{item.categoryID}}">
        <img class="category-img" [src]="environment.imgUrl+'/Category/Small/'+item.categoryID+'.png'"
          (error)="updateImage($event)" />
        <h5 *ngIf="lang ==='en'" class="category-title"> {{item.attributes | filter: "4"}} </h5>
        <h5 *ngIf="lang ==='ar'" class="category-title"> {{item.attributes | filter: "9"}} </h5>
      </div>

    </div>
  </div>
</div>