<ngx-skeleton-loader *ngIf="!isItemLoaded" appearance="circle" count="1" animation="progress"
    [theme]="{ 'border-radius': '0', 'background-color': '#efefef', height: '500px', width: '100%' }">
</ngx-skeleton-loader>
<mat-carousel *ngIf="isItemLoaded" timings="250ms ease-in" [autoplay]="true" interval="2000" color="accent"
    maxWidth="auto" proportion="25" slides="5" [loop]="true" [hideArrows]="false" [hideIndicators]="true"
    [useKeyboard]="true" [useMouseWheel]="false" orientation="rtl">
    <mat-carousel-slide #matCarouselSlide *ngFor="let slide of slides; let i = index" [image]="slide"
        overlayColor="#00000040" [hideOverlay]="true">
        <div class="row justify-content-center align-items-end" style="height: 100%;">
            <button routerLink="/category"
                class="btn btn-success discoverBtn mb-5">{{ 'home.slider.discoverBtn' | translate }}</button>
        </div>
    </mat-carousel-slide>
</mat-carousel>


<app-daily-need-products></app-daily-need-products>

<!-- <app-offers></app-offers>

<app-kids-product></app-kids-product> -->

<app-daily-app></app-daily-app>

<app-health-information></app-health-information>