<div class="kidProducts">
	<div class="container">
		<div class="row">
			<div class="col-md-6 py-2">
				<img class="kidImg img-responsive" src="assets/dynamicImg/kid.png" />
			</div>
			<div class="col-md-6 py-2">
				<h2 class="dailyNeed-title-font"> {{"home.kids.welcome" | translate}} <br />
					{{"home.kids.kProduct" | translate}}</h2>
				<p>{{"home.kids.desc" | translate}}</p>
				<div class="row">
					<div class="col-sm-6">
						<img class="kidDrink-img" src="assets/dynamicImg/kiddrink.png">
						<h4 class="dailyNeed-title">Cocktail juice</h4>
						<p class="dailyNeed-price">20.00 EGP </p>
					</div>
					<div class="col-sm-6">
						<img class="kidDrink-img img-fluid" src="assets/dynamicImg/kiddrink2.png">
						<h4 class="dailyNeed-title">Blackbarry juice</h4>
						<p class="dailyNeed-price">20.00 EGP </p>
					</div>
				</div>
				<button class="btn btn-success btn-more">{{"home.kids.btn" | translate}}</button>
			</div>
		</div>
	</div>
</div>