<div class="popurlarPost">
  <h5>Popular Posts</h5>
  <div class="row popularItem">
    <div class="col-lg-3 pr-0 pl-0">
      <img class="popularIcon" src="assets/dynamicImg/popular1.png" />
    </div>
    <div class="col-lg-9">
      <p class="wrapTxt title">How to steam & purée</p>
      <div class="row infoLabel">
        <span>4 December 2019</span>
      </div>
    </div>
  </div>
  <div class="row popularItem">
    <div class="col-lg-3 pr-0 pl-0">
      <img class="popularIcon" src="assets/dynamicImg/popular1.png" />
    </div>
    <div class="col-lg-9">
      <p class="wrapTxt title">How to steam & purée</p>
      <div class="row infoLabel">
        <span>4 December 2019</span>
      </div>
    </div>
  </div>
  <div class="row popularItem">
    <div class="col-lg-3 pr-0 pl-0">
      <img class="popularIcon" src="assets/dynamicImg/popular1.png" />
    </div>
    <div class="col-lg-9">
      <p class="wrapTxt title">How to steam & purée</p>
      <div class="row infoLabel">
        <span>4 December 2019</span>
      </div>
    </div>
  </div>
</div>