<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#items" role="tab" aria-controls="home"
      aria-selected="true">Items</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#healthInfo" role="tab" aria-controls="profile"
      aria-selected="false">Health Info.</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">

  <div class="tab-pane fade show active" id="items" role="tabpanel" aria-labelledby="home-tab">
    <app-favourit-items [lang]="lang"></app-favourit-items>
  </div>
  <div class="tab-pane fade" id="healthInfo" role="tabpanel" aria-labelledby="profile-tab">
    <app-favourit-healthinfo [lang]="lang"></app-favourit-healthinfo>
  </div>
</div>