<div class="healthInfo">
	<div class="container">
		<h2 class="dailyNeed-title dailyNeed-title-font">{{"home.health.title" | translate}}</h2>
		<div class="row ">
			<div class="col-lg-4 col-sm-6 dailyNeed-div-img">
				<img class="healthInfo-img" src="assets/dynamicImg/health1.png" />
				<p class="tags">
					<span><i class="far fa-calendar-alt"></i> January 30,2019</span>
					<span><i class="far fa-comments"></i> 13</span>
				</p>
				<h5 class="health-title">3-day fresh start with meal options</h5>
				<p class="healt-desc">We’ve seen the cleanse trend shift over the past several years — and we hear you!
					Just like all of you, we here at DailyJ are all about balance too </p>
				<p class="healthReadMore">Read more....</p>
			</div>
			<div class="col-lg-4 col-sm-6 dailyNeed-div-img">
				<img class="healthInfo-img" src="assets/dynamicImg/health1.png" />
				<p class="tags">
					<span><i class="far fa-calendar-alt"></i> January 30,2019</span>
					<span><i class="far fa-comments"></i> 13</span>
				</p>
				<h5 class="healty-title">3-day fresh start with meal options</h5>
				<p class="healt-desc">we here at DailyJ are all about balance too, so we created a mini food-pairing
					plan to go with our Fresh Start... </p>
				<p class="healthReadMore">Read more....</p>
			</div>
			<div class="col-lg-4 col-sm-6 dailyNeed-div-img">
				<img class="healthInfo-img" src="assets/dynamicImg/health2.png" />
				<p class="tags">
					<span><i class="far fa-calendar-alt"></i> January 30,2019</span>
					<span><i class="far fa-comments"></i> 13</span>
				</p>
				<h5 class="health-title">3-day fresh start with meal options</h5>
				<p class="healt-desc">We’ve seen the cleanse trend shift over the past several years — and we hear you!
					Just like all of you, we here at DailyJ are all about balance too </p>
				<p class="healthReadMore">Read more....</p>
			</div>

		</div>

	</div>
</div>