/* You can add global styles to this file, and also import other style files */
/* html {
	font-family: HelveticaNeue !important;
	font-size: 14px ;
} */

::-webkit-scrollbar {
	width: 6px;
	border-radius: 3px;
	background-color: #f5f5f5;
  }
  
  ::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: #F5F5F5;
  }
  
  ::-webkit-scrollbar-thumb {
	width: 6px;
	height: 20px;
	border-radius: 3px;
	background-color: #a19ea3;
  }
  
@font-face {
	font-family: Marilatte;
	src: url('assets/fonts/Marilatte.otf') format("opentype");
}
  html{
	direction: ltr !important;
	scroll-behavior: smooth;
}

  body{
	text-align: left !important;
}

  .header .navbar h2 {
	float: left;
	text-transform: uppercase;
}

  .header .navbar ul {
	list-style: none;
	float: left;
	color: #000;
}

  .header .navbar ul li{
	float: left;
	padding: 0px 10px;
	font-size: 16px;
}

  .dropdown-menu{
    margin-left: -270px; 
}

  .user-twitter{
    margin-left: -10px;
}

  .tags{
	color:#ccc;
	font-size: 13px;
	text-align: left;
	font-family: HelveticaNeue;
	margin-top: 2px;
}

  .health-title , .healthReadMore{
	text-align: left !important;
}

  .healt-desc{
	font-size: 14px;
	text-align: left;
}

  .cardBtn {
	text-align: right !important;
    padding-right: 0px !important;
}

  .share-like{
	text-align: right;
}

  .trashIcon{
	padding-right: 20px;
}

  .itemCost ,   .itemTitle {
	text-align: right;
}

  .itemTitle ,   .yourCart {
	text-align: left;
}

  .controlBtn{
	float: right
}

  .link-div {
    border-right : 1px solid rgba(223,232,238,1);
}

  #btnGroupAddon{
	border-right: 1px solid white !important;
	border-radius: unset;
}
ul {
    margin-bottom: 1px !important;
}

/* .container{
	width: 1170px;
	margin: auto;
} */

.row {
	margin: 0px;
}
.header .navbar .logo{
	width:166px;
	height: 23px;
}
.slider {
	height: 600px !important;
	overflow: hidden !important;
	background-size: 100% !important;
	display: flex !important;
	align-items: center !important;
	justify-content: right !important;
	position: relative;
	
}

.swiperImg {
	width : 1440px ;
	height : 650px;
}

.slider .discoverBtn , .slider .discoverBtn:hover ,
.slider .discoverBtn:focus , .slider .discoverBtn:active{
	position: absolute;
	top: 80%;
	left: 50%;
	background-color: rgba(122,201,67,1) !important;
	border-color:  rgba(122,201,67,1) !important;
	border-radius: unset !important;
	box-shadow: unset !important;
	color : white;
	font-size: 15px;
    font-weight: bold;
    padding: 10px 30px;

}
 .slider-details  , .header .slider-category{
		height: 175px;
		overflow: hidden;
		background-size: 100%;
		display: flex;
		align-items: center;
		justify-content: right;
		position: relative;	
} 

.smallImgSlider{
	width: 100%;
	height: 175px;
}

.sliderTxt{
	color: #f8a01d;
	font-weight: normal !important;
	font-size: 70px;
	position: absolute;
	left:40%;
	font-family: Marilatte;
}


.header .navbar {
	background-color: #252F31;
	/* overflow: hidden; */
}
.dropdown-menu{
    margin-top: 17px !important; 
    min-width: 20rem !important;
    border-radius: unset;
    border-top: none;
    font-size: 0.9rem;
    padding-top: 25px !important;
}

.header .navbar h2 span{
	color: #2ecc71;
}

.header .navbar ul li a {
	color: rgba(0,0,0,.5);
	text-decoration: none;
}

.header .navbar ul li a:hover {
   color:rgba(0,0,0,.7);
}
li.active , a.active ,.nav-item .active ,.navbar-light .navbar-nav .active>.nav-link {
	color:rgba(122,201,67,1) !important; 
	font-weight: bold;
} 

.nav-link , .nav-link:hover{
		color:rgba(74,74,74,1);
}

.header .navbar .navigationUrl{
	/* font-family: HelveticaNeue; */
}

.header .navbar ul .active{
	color:rgba(122,201,67,1); 
	font-weight: bold;
	font-size: 17px;
}

.navbar-header{
    margin-left:185px;
}
.dropdown-list{
    padding: 0px !important;
}

.facebook , .twitter{
    background: url('./assets/images/facebook.png') no-repeat;
    background-size: cover !important;
    width: 76px;
    height: 27px;
    border-radius: unset !important;
}

.twitter{
    background: url('./assets/images/twitter.png') no-repeat;
}

.bg-light {
    background-color: #fff !important;
}

.loginTxt { 
    padding: 0px 5px;
}

.signIn{
    color : rgba(255,159,0,1) !important;
}

.signUp{
    color:rgba(122,201,67,1) !important;
}

.modal-header {
    background-color: rgba(255,159,0,1);
    color:white
}

.signupBtn , .signupBtn:hover{
    background-color: rgba(255,159,0,1) !important;
    border-color: rgba(255,159,0,1) !important;
}

.modal-header .close {
    padding: 0px;
    margin: 0px;
}

.modal-dialog , .modal-header , .modal-body , .modal-footer , .modal-content{
    border-radius: unset ;
}

.modal {
    background-color: #3c3b3a6b;
}

.titleIconDiv{
	margin-bottom: 20px;
}

.titleIconDiv .titleIcon{
	width: 30px;
	height: 31px;
	margin:10px 15px;
}

.divSeparator {
	width:55px ; 
	border:1px solid rgba(223,232,238,1) ; 
	display: inline-block;
}

.dailyNeeds , .offers , .kidProducts ,.dailyApp ,.healthInfo , .footer ,
.itemDetailsDiv ,.relatedProduct , .story , .contactus , .contactForm , .programsDesc,
.programsSummary , .about ,.healthPage , .cartPage , .checkout , .myaccount , .searchPage
{
	overflow: hidden;
	margin:60px 0px;
}

.dailyNeed-title-font {
	font-family: Marilatte; /*cursive;*/
	color: rgba(122,201,67,1); ;
	font-size: 60px;
}
.dailyNeed-title , .dailyNeed-price{
	text-align: center;
}

.dailyNeed-title{
	margin-bottom: 10px;
}

.dailyNeeds .blackTxt{
	font-weight: bolder;
	font-family: HelveticaNeue;

}

.dailyNeed-link {
	text-align: center;
	margin:10px;
	font-weight: normal !important;
}

.dailyNeed-link + .divSeparator {
	width: 15px; 
	border:1px solid rgba(223,232,238,1) ; 
	display: inline-block;
	margin-bottom: 3px;
}

.dailyNeed-link .active{
	color: rgba(122,201,67,1); ;
} 

.dailyNeed-div-img{
	margin: 10px 0px;
}

.category-div-img{
	margin: 20px 15px;
    box-shadow: 2px 2px 6px #ccc;
    min-width: 235px;
	height: 210px;
	position: relative;
}
.category-img {
	width:150px;
	height: 160px;
	position: absolute;
	top:3%;
	right:2%;
}

.category-title{
	position: absolute;
	bottom: 4%;
	left:2%;
	word-wrap: break-word;
}
.dailyNeed-img {
	width:220px;
	height: 220px;
	margin-bottom: 10px;
	box-shadow: 2px 2px 6px #ccc;
}

.dailyNeed-price{
	color:rgba(122,201,67,1);
	font-weight: bold;
}

.btn-more , .btn-more:active , .btn-more:hover,
.btn-addCart , .btn-addCart:active , .btn-addCart:hover
{
	background-color: rgba(122,201,67,1) !important;
	border: rgba(122,201,67,1) !important;
	font-weight: bold;
	padding: 10px 30px;
	border-radius: 4%;
}

.offers{
	height: 750px;
	background: url('./assets/images/offer_bg.png') no-repeat;
	background-size: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.offerBg , .organizationBg{
	width: 500px;
	height: 400px;
}

.time-number {

	color : rgba(122,201,67,1);
	font-size:28px;
	font-weight: bold;
	
}
.time-text {
	font-size: 14px;
}

.time-table  tr  td {
	padding:10px;
}

.offerContainer{
	margin-top: 25px;
}

.btn-orderNow , .btn-orderNow:hover , .btn-orderNow:active {
	color: white;
	font-weight: bold;
	background-color: rgba(255,159,0,1) !important;
	border:rgba(255,159,0,1) !important;
	margin-top: 25px;
}


.kidImg{
	width:100%;
	height:100%;
}

.kidDrink-img{
	width: 100%;
	height:230px;
}


.dailyApp {
	background-color: rgba(248,248,248,1);
	padding-top:5%;
	padding-bottom: 3%;
}

.dailyAppBenefit{
	margin-top: 60Px;
	font-family: HelveticaNeue;
	font-weight: bold; 
}

.iosImg{
	width:100%;
}

.andriodImg{
	padding-top: 12px;
	width: 90%
}

.healthInfo-img{
	width: 100%;
    min-height: 210px;
    margin-bottom: 15px;
}

.healthReadMore{
	color:rgba(122,201,67,1);
	font-weight: bold;
}

footer{
	background-color: rgba(49,49,49,1);
	color: #ddd !important;
	padding: 10px 0px 0px;
}

footer h4{
	font-size: 19px;
	margin-top: 10px;
}

footer a , footer a:hover , footer a:visited{
	font-size: 15px;
	cursor: pointer;
	color: #ddd !important;
	text-decoration: none;
}

.divSeparatorFooter{
		width:60px ; 
		border-bottom: 1px solid #8c8a8a;
		display: inline-block;
	}

.copyRight{
	background-color: rgba(29,29,29,1);
	margin-top: 20px;
	padding: 10px 0px 10px 0px;
	color: rgba(74,74,74,1);
	font-size: 14px;
	font-family: HelveticaNeue;
}

.search {
    margin-left: 3px;
    margin-right: 3px;
    color : #92989e !important;
}


.btn-number-minus{
	border-radius: 0px;
	border:1px solid #ccc;
}

.btn-number-plus{
	border-radius: 0px;
	border:1px solid #ccc;
}

.input-number{
	border-left: 0px;
	border-right: 0px;
}

.btn:focus ,.btn.focus, 
.btn-success , .btn-success:focus , .btn-success:visited , .btn-success:hover
.btn-danger , .btn-danger:focus , .btn-danger:visited , .btn-danger:hover
.btn-warning , .btn-warning:focus , .btn-warning:visited , .btn-warning:hover,
.btn i
 {
	box-shadow: 0 0 0 0rem #fff;
	
}

.btn i {
	color:#e0dddd;
}


/*************************cart page **************/

.cartTotal{
    background-color: rgba(34,34,34,1) !important;
    font-family: HelveticaNeue;
    color:rgba(180,180,180,1)
}

table {
    font-family: HelveticaNeue
}

.cardTotal  {
    padding: 0px;
}

.cartItems td {
    width: 25%;
    vertical-align: middle;
    border: unset;
}
.cartItems th {
    border: unset;
    color: rgba(74,74,74,1);
}

.cartItems td h5{
    font-weight: bold;
}

.cartItems td p {
    color:rgba(122,201,67,1);
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 0px;
}

.fa-trash {
    color : red;
}

.rowItem {
    margin-top: 20px;
    margin-bottom: 20px;
}

.btns{
    margin-left: 8%;
    margin-right: 8%;
	width: 80%;
}

.cartTotal hr {
    background-color: #ccc;
    height: 1px;
}

.proceed , .proceed:focus , .proceed:hover , .proceed:visited {
    background-color: rgba(122,201,67,1) !important;
    border-color:  rgba(122,201,67,1) !important;
}

.cartSubmit , .cartSubmit:hover , .cartSubmit:focus , .cartSubmit:visited ,
 .addAddressBtn , .addAddressBtn:hover , .addAddressBtn:focus , .addAddressBtn:visited {
	color : white !important;
	background-color : rgba(255,159,0,1) !important;
}

.clear{
	clear: both;
}

/* custom radio button style */
.custom-radio .custom-control-input:checked~.custom-control-label::before,
.custom-radio .custom-control-input:checked~.custom-control-label::after
 {
	background-color: darkorange !important;
	border-radius: 50%;
	box-shadow:unset !important;
}

/*--------------- Rtl styling ------------------*/


   body[lang="ar"] {
	   direction: rtl !important;
	   text-align: right !important;
	   font-family: 'El Messiri', sans-serif !important;
	}
	body[lang="ar"] .sliderTxt,
	body[lang="ar"] .dailyNeed-title-font{
		font-family: 'Lemonada', cursive !important;
		font-size: 2.5rem;
	}
	body[lang="ar"] .dailyNeeds .blackTxt
	{
		font-family: 'Lemonada', cursive !important;
		font-size: 1.8rem;
	}
	body[lang="ar"] table,
	body[lang="ar"] .dailyAppBenefit,
	body[lang="ar"] .btn,
	body[lang="ar"] .dropdown-item,
	body[lang="ar"] .yourCart
	{
		font-family: 'El Messiri', sans-serif !important;
	}

body[lang="ar"] .header .navbar h2 {
	float: right;
	text-transform: uppercase;
}

body[lang="ar"] .header .navbar ul {
	list-style: none;
	float: right;
	color: #000;
}

body[lang="ar"] .header .navbar ul li {
	float: right;
	padding: 0px 10px;
	font-size: 16px;
}

body[lang="ar"] .user-twitter {
	margin-right: -10px;
}
body[lang="ar"] .dropdown-menu {
	margin-left: 0 !important;
}

body[lang="ar"] .tags {
	color: #ccc;
	font-size: 13px;
	text-align: right;
	font-family: HelveticaNeue;
	margin-top: 2px;
}

body[lang="ar"] .health-title, .healthReadMore {
	text-align: right !important;
}

body[lang="ar"] .healt-desc {
	font-size: 14px;
	text-align: right;
}

body[lang="ar"] .cardBtn {
	text-align: left !important;
	padding-left: 0px !important;
}

body[lang="ar"] .share-like {
	text-align: left;
}

body[lang="ar"] .trashIcon {
	padding-left: 20px;
}

body[lang="ar"] .itemCost,    body[lang="ar"] .itemTitle {
	text-align: left;
}

body[lang="ar"] .itemTitle,    body[lang="ar"] .yourCart {
	text-align: right;
}

   body[lang="ar"] .checkout input[type="radio"]+label {
	padding-right: 25px;
}

body[lang="ar"] .input-group>.input-group-append>.btn {
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}

body[lang="ar"] .input-group>.form-control:not(:last-child) {
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
}

body[lang="ar"] .controlBtn {
	float: left
}

body[lang="ar"]  .link-div {
	border-left: 1px solid rgba(223, 232, 238, 1);
}

body[lang="ar"]  #btnGroupAddon {
	border-left: 1px solid white;
	border-radius: unset;
}

body[lang="ar"]  .custom-control-inline {
	display: inline-flex;
	margin-left: 0px !important;
	margin-right: 0px !important;
}

body[lang="ar"]  .custom-control {
	position: relative;
	min-height: 1.5rem;
	padding-right: 0px !important;
}

body[lang="ar"] .custom-control-label {
	padding-right: 25px !important;
}

body[lang="ar"] .custom-control-label::before {
	position: absolute;
	top: 0.25rem;
	right: 0 !important;
	display: block;
	width: 1rem;
	height: 1rem;
	pointer-events: none;
	content: "";
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: white;
}

body[lang="ar"]  .custom-control-label::after {
	position: absolute;
	top: 0.25rem;
	right: 0 !important;
	display: block;
	width: 1rem;
	height: 1rem;
	content: "";
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 50% 50%;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

button:focus{
	outline: none !important;
}
.carousel{
	direction: ltr !important;
	height: 500px !important;
}
.carousel .carousel-list, 
.carousel .carousel-list .carousel-slide 
{
	height: 500px !important;
	background-size: contain !important;
}
@media (max-width: 768px){
	.carousel,
	.carousel .carousel-list, 
	.carousel .carousel-list .carousel-slide 
	{
		height: 350px !important;
	}

}

a, .healthReadMore{
	cursor: pointer !important;
}


/*  owl carousel settings */
.owl-carousel{
	direction: ltr !important;
}
.owl-nav{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}
.owl-nav button {
	position: absolute;
	top: 15%;
	direction: ltr !important;

}
.owl-nav button.disabled:hover {
	cursor: not-allowed;
}
.owl-nav button span {
	font-size: 4rem;
}
.owl-nav button.owl-prev {
	left: -40px;
}
.owl-nav button.owl-next {
	right: -40px;
}
.owl-theme .owl-nav [class*=owl-]:hover {
    background: transparent;
    color: #4c4b4b;
    text-decoration: none;
}