.checkout {
    font-family: HelveticaNeue;
}

.checkout h5 {
    font-weight: bold
}



input[type="radio"]+label {
    color:rgba(155,155,155,1);
    font-weight: bold;
    font-size: 16px
}

input[type="radio"]:checked+label 
{ 
    font-weight: bold; 
    color:black;
}
input[type="radio"]:checked+label>span , input[type="radio"]+label>span
{ 
    font-weight: normal; 
    color:rgba(155,155,155,1);
}

input[type="radio"]:not([name="payment"])+label {
    margin-bottom: 20px;
}

.firstStep , .secStep , .thirdStep , .fourthStep {
    padding: 15px 25px;
}

.placeOrder , .placeOrder:hover , .placeOrder:visited , .placeOrder:focus{
    width: 25%;
    background-color: rgba(122,201,67,1) !important;
    border-color:  rgba(122,201,67,1) !important;
}

.addAddressBtn{
    margin-right: 15px;
    margin-left: 15px;
}