<div class="slider-details text-center">
  <img class="smallImgSlider" src="assets/dynamicImg/checkout.png" />
  <!-- <p class="sliderTxt"> {{'checkout.title' | translate}} </p> -->
</div>
<mc-breadcrumbs></mc-breadcrumbs>

<div class="checkout">
  <form [formGroup]="checkoutForm" (ngSubmit)="checkout(checkoutForm.value)">
    <div class="container">
      <h5>1- {{'checkout.address' | translate}}</h5>
      <div class="firstStep">
        <ng-container *ngFor="let address of addressList">
          <div class="form-check">
            <input class="form-check-input" type="radio" formControlName="address" id="exampleRadios1"
              [value]="address">
            <label class="form-check-label" for="exampleRadios1">
              {{
                address.addrClientCity + ' , ' +
                address.addrLine1 + ' , ' +
                address.addrLine2 + ' , ' +
                address.addrLine7
              }}
            </label>
          </div>
        </ng-container>
        <app-add-new-address></app-add-new-address>
      </div>
      <hr>
      <notifier-container></notifier-container>
      <h5>2- {{'checkout.payment' | translate}}</h5>
      <div class="secStep">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" formControlName="paymentMethod" id="inlineRadio1" value="cash">
          <label class="form-check-label mb-0" for="inlineRadio1">{{'checkout.cash' | translate}}</label>
        </div>
        <!-- <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" formControlName="paymentMethod" id="inlineRadio2" value="credit">
        <label class="form-check-label" for="inlineRadio2">{{'checkout.credit' | translate}}</label>
      </div> -->
      </div>
      <hr>
      <h5>3- {{'checkout.deliveryTime' | translate}} </h5>
      <div class="thirdStep">
        <div class="form-check">
          <input class="form-check-input" type="radio" formControlName="deliveryType" id="exampleRadios1" value="asap"
            checked>
          <label class="form-check-label" for="exampleRadios1">
            {{'checkout.asap' | translate}}
            <br>
            <span>{{'checkout.asapMsg' | translate}}</span>
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" formControlName="deliveryType" id="exampleRadios2"
            value="schedueled">
          <label class="form-check-label" for="exampleRadios2">
            {{'checkout.sch' | translate}}
          </label>
          <div class="form-row">
            <div class="col">
              <input type="date" formControlName="date" class="form-control" />
            </div>
            <div class="col">
              <input type="time" formControlName="time" class="form-control" />
            </div>
          </div>
        </div>
      </div>
      <hr>
      <h5>4- {{'checkout.oSummary' | translate}}</h5>
      <div class="row fourtStep">
        <div class="col-lg-8 cartItems">
          <cart-data></cart-data>
          <button [disabled]="checkoutForm.invalid" type="submit"
            class="btn btn-success placeOrder">{{'checkout.order' | translate}}</button>
        </div>
        <div class="col-lg-4 cartTotal text-center">
          <div class="row rowItem">
            <div class="col-lg-4 itemTitle">{{'home.header.Pricing' | translate}}</div>
            <div class="col-lg-8 itemCost">{{cartService.totalPrice | currency: " EGP "}} </div>
          </div>
          <hr>
          <div class="row rowItem">
            <div class="col-lg-4 itemTitle">{{'home.header.vat' | translate}}</div>
            <div class="col-lg-8 itemCost">{{cartService.vat | currency: " EGP "}} </div>
          </div>
          <hr>
          <div class="row rowItem">
            <div class="col-lg-4 itemTitle">{{'home.header.shipping' | translate}}</div>
            <div class="col-lg-8 itemCost">{{cartService.shipping | currency: " EGP "}} </div>
          </div>
          <hr>
          <div class="row rowItem">
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="{{'cart.enterCopon' | translate}}"
                aria-label="Recipient's username" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-warning cartSubmit" type="button"> {{'home.footer.submit' | translate}} </button>
              </div>
            </div>
          </div>
          <div class="row rowItem">
            <div class="col-lg-4 itemTitle">{{'cart.tPrice' | translate}}</div>
            <div class="col-lg-8 itemCost">
              {{(cartService.totalPrice + cartService.shipping + cartService.vat) | currency: " EGP "}} </div>
          </div>
          <p class="mt-5">
            <q>
              {{'cart.msg' | translate}}
            </q>
          </p>
        </div>
      </div>

      <!-- <div class="custom-file">
            <input type="text" class="custom-file-input" id="customFile">
            <label class="custom-file-label" for="customFile">Choose file</label>
          </div> -->
    </div>
  </form>

</div>