<div class="dailyApp">
	<div class="container">
		<div class="row">
			<div class="col-md-5 offset-md-1">
				<h2 class="dailyNeed-title-font">{{"home.dailyApp.title" | translate}}</h2>
				<h3 class="dailyAppBenefit">{{"home.dailyApp.benfits" | translate}}</h3>
				<div>
					<p>{{"home.dailyApp.desc" | translate}}</p>
					<ul>
						<li>{{"home.dailyApp.be1" | translate}}</li>
						<li>{{"home.dailyApp.be2" | translate}}</li>
						<li>{{"home.dailyApp.be3" | translate}}</li>
					</ul>
				</div>


				<h3 class="dailyAppBenefit">{{"home.dailyApp.new" | translate}} </h3>
				<p>{{"home.dailyApp.newDesc" | translate}} </p>
				<div class="row">
					<div class="col-6">
						<a href="" class="d-block my-2">
							<img class="iosImg img-responsive" src="assets/images/IOS.png">
						</a>
					</div>
					<div class="col-6">
						<a href="" class="d-block my-2">
							<img class="andriodImg img-responsive" src="assets/images/andriod.png">
						</a>
					</div>
				</div>
			</div>

			<div class="col-md-6">
				<img class="kidImg img-responsive" src="assets/images/dailyApp.png" />
			</div>

		</div>
	</div>
</div>