<div class="dailyApp">
		<div class="container">
			<div class="row">
				<div class="col-lg-5 offset-lg-1">
					<h2 class="dailyNeed-title-font">Why daily J App</h2>
					<h3 class="dailyAppBenefit">Benefit</h3>
					<div>
						<p>Daily J is a system that serves multiple healthy nutrition products.</p> 
						<ul>
							<li>Provide and deliver ready-made healthy nutrition juice, that can work as Detoxes for the body and give it the amount of Vegetables and Fruits needed.</li>
							<li>very easy to use , order and deliver your orders in your suitable time - customer support 24/7</li>
						</ul>
					 </div>
					

					<h3 class="dailyAppBenefit">what's new in DailyJ App. </h3>
					<p>UI Enhancements and Bug Fixes </p>
					<div class="row">
						<div class="col-lg-6">
								<img class="iosImg" src="assets/images/IOS.png">
						</div>
						<div class="col-lg-6">
								<img class="andriodImg" src="assets/images/andriod.png">
						</div>
					</div>
				</div>

				<div class="col-lg-6">
					<img class="kidImg" src="assets/images/dailyApp.png"/>
				</div>
				
			</div>
    	</div>
	</div>