<div class="slider-details text-center">
  <img class="smallImgSlider" src="assets/dynamicImg/about.png" />
  <p class="sliderTxt">About us</p>
</div>
<mc-breadcrumbs></mc-breadcrumbs>
<div class="story">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="text-center">
          <h2 class="dailyNeed-title dailyNeed-title-font">Daily needs</h2>
          <h2 class="dailyNeed-title blackTxt">Little Story</h2>
        </div>
        <div class="titleIconDiv text-center">
          <div class="divSeparator"></div>
          <img class="titleIcon" src="assets/images/titleIcon.png" />
          <div class="divSeparator"></div>
        </div>
        <div>
          Our farm is a second-generation organic farm that was our parents, Mark & Renée Elliott’s dream to offer the
          best and healthiest range of organic foods available, promote health in the community and bring a sense of
          discovery and adventure into food shopping.
          Visit our site for a complete list of fresh, organic fruit and vegetables we are offering.
        </div>
      </div>

      <div class="col-lg-6">
        <img class="organizationBg" src="assets/images/organization.png">
      </div>

    </div>
  </div>
</div>

<div class="about">
  <div class="container">
    <div class="text-center">
      <h2 class="dailyNeed-title dailyNeed-title-font">Discover</h2>
      <h2 class="dailyNeed-title blackTxt">Our values</h2>
    </div>
    <div class="titleIconDiv text-center">
      <div class="divSeparator"></div>
      <img class="titleIcon" src="assets/images/titleIcon.png" />
      <div class="divSeparator"></div>
    </div>
    <div class="row text-center">
      <div class="col-lg-3 conatctDiv">
        <img class="delivery" src="assets/images/delivery.png" />
        <h5>Delivery</h5>
        <div class="contactTxt">
          No more driving and parking for your vegetables! We deliver directly to your doorstep. Save time going to the
          grocery store.
        </div>
      </div>
      <div class="col-lg-3 conatctDiv">
        <img class="flexibility" src="assets/images/flexibility.png" />
        <h5>Flexibility</h5>
        <div class="contactTxt">
          Choose the delivery frequency that best fits your needs: weekly, every other week, every 3rd or every 4th week
          delivery. </div>
      </div>

      <div class="col-lg-3 conatctDiv">
        <img class="organic" src="assets/images/organicFood.png" />
        <h5>Organic Food</h5>
        <div class="contactTxt">
          We deliver organic produce that is pesticide-free and sustainably-grown, ensuring that we maintain healthy
          communities. </div>
      </div>
      <div class="col-lg-3 conatctDiv">
        <img class="healty" src="assets/images/healthDiet.png" />
        <h5>Healthy Diet</h5>
        <div class="contactTxt">
          Get produce delivered home on a set frequency is essential to obtaining the recommended daily fruits and daily
          vegetables.
        </div>
      </div>


    </div>
  </div>
</div>