<div class="slider-details text-center">
  <img class="smallImgSlider" src="assets/dynamicImg/about.png" />
  <p class="sliderTxt"> {{'about.mainTitle' | translate}} </p>
</div>
<mc-breadcrumbs></mc-breadcrumbs>
<div class="story">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="text-center">
          <h2 class="dailyNeed-title dailyNeed-title-font"> {{'about.title' | translate}} </h2>
          <h2 class="dailyNeed-title blackTxt">{{'about.title2' | translate}}</h2>
        </div>
        <div class="titleIconDiv text-center">
          <div class="divSeparator"></div>
          <img class="titleIcon" src="assets/images/titleIcon.png" />
          <div class="divSeparator"></div>
        </div>
        <div>
          {{'about.desc' | translate}}

        </div>
      </div>

      <div class="col-lg-6">
        <img class="organizationBg" src="assets/images/organization.png">
      </div>

    </div>
  </div>
</div>

<div class="about">
  <div class="container">
    <div class="text-center">
      <h2 class="dailyNeed-title dailyNeed-title-font">{{'about.title3' | translate}}</h2>
      <h2 class="dailyNeed-title blackTxt">{{'about.title4' | translate}}</h2>
    </div>
    <div class="titleIconDiv text-center">
      <div class="divSeparator"></div>
      <img class="titleIcon" src="assets/images/titleIcon.png" />
      <div class="divSeparator"></div>
    </div>
    <div class="row text-center">
      <div class="col-lg-3 col-sm-6 conatctDiv">
        <img class="delivery" src="assets/images/delivery.png" />
        <h5>{{'about.item1.title' | translate}}</h5>
        <div class="contactTxt">
          {{'about.item1.desc' | translate}}
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 conatctDiv">
        <img class="flexibility" src="assets/images/flexibility.png" />
        <h5> {{'about.item2.title' | translate}}</h5>
        <div class="contactTxt">
          {{'about.item2.desc' | translate}}
        </div>
      </div>

      <div class="col-lg-3 col-sm-6 conatctDiv">
        <img class="organic" src="assets/images/organicFood.png" />
        <h5> {{'about.item3.title' | translate}}</h5>
        <div class="contactTxt">
          {{'about.item3.desc' | translate}}
        </div>

      </div>
      <div class="col-lg-3 col-sm-6 conatctDiv">
        <img class="healty" src="assets/images/healthDiet.png" />
        <h5> {{'about.item4.title' | translate}}</h5>
        <div class="contactTxt">
          {{'about.item4.desc' | translate}}
        </div>

      </div>


    </div>
  </div>
</div>